# Виртуальное окружение
.venv/
venv/
ENV/

# Кэш Python
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Системные файлы
.DS_Store
Thumbs.db

# Локальные результаты расчетов
data/optimization_results.json

# Инструменты разработки и IDE
.idea/
.vscode/
*.swp
